@import "null";

@import "icons";

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);

:root {
	--font-family: "Inter", sans-serif;
	--font-size: 16px;
	--font-weight: 400;

	--bg-color: #549b7a;
	--bg-dark-color: #4b7651;
	--section-bg-color: #a8d1b3;

	--text-dark-color: #1c2c1f;
	--text-light-color: #c7c6b8;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: var(--font-family);
}

%container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding-inline: 16px;
}

.header {
	&__container {
		@extend %container;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: var(--bg-dark-color);
	}

	&__awatar {
		flex: 1 1 calc(100% / 3);
		aspect-ratio: 2 / 1;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-block: 20px;

		&::before{
			content:'';
			position: absolute;
			transform: skewX(-45deg);
			width: 70%;
			aspect-ratio: 6 / 1;
			bottom: 20px;
			background: var(--section-bg-color);
			border-radius: 5px;
			box-shadow: 6px 3px 5px #233e26ed;
		}
	}

	&__image {
		max-width: 40%;
		object-fit: contain;
		object-position: center center;
		z-index: 1;
		filter: drop-shadow(5px 0 0px var(--bg-dark-color)) 
						drop-shadow(-5px 0 0px var(--bg-dark-color))
						drop-shadow(0 -2px 0 var(--bg-dark-color));
	}

	&__title-block {
		flex: 1 1 calc(200% / 3);
		padding-left: 20px;
		color: var(--text-light-color);
	}

	&__title {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1.2;
	}

	&__subtitle {
		font-size: 1.5rem;
		font-weight: 500;
		font-style: italic;
		margin: 10px 0 20px;
	}
}

.main {
	width: 100%;
	flex: 1 1 auto;
	background: linear-gradient(90deg, var(--bg-color) 0%, var(--section-bg-color) 100%);

	&__container {
		@extend %container;
		display: flex;
		justify-content: space-between;
	}
}

.side-bar {
	flex: 1 1 calc(100% / 3);
	background: var(--bg-color);

	&__container {
		position: relative;
		height: 100%;
		width: 100%;
		padding-top: 70px;
		padding-right: 20px;
		padding-bottom: 40px;

		&::before{
			content:'';
			position: absolute;
			width: 100%;
			height: 50px;
			top: 0;
			left: 0;
			z-index: 1;
			background: var(--bg-dark-color);
			clip-path: polygon(0 -1%, 50% 100%, 100% -1%);
		}
	}

	&__contact {
		li {
			font-style: 18px;
			display: flex;
			align-items: center;
			line-height: 1.5;
			font-weight: 500;

			span {
				margin-right: 10px;
			}
		}
	}

	&__title {
		font-size: 28px;
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: 15px;
	}

	&__list {
		&_solid {
			li {
				list-style-type: disc;
				list-style-position: inside;
				position: relative;
				padding-bottom: 20px;
				
				&::after{
					content:'';
					width: 5px;
					position: absolute;
					background: var(--text-dark-color);
				}

				&:not(:last-child) {
					&::after{
						height: 60%;
						width: 2px;
						left: 1px;
						top: 40%;
					}
				}
			}
		}

		&_link {
			list-style: none;
			padding-left: 25px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 15px;
				height: 15px;
				background: url(../assets/icons/link.svg) no-repeat center center /
					cover;
				left: 0;
				top: 50%;
				translate: 0 -50%;
			}
		}
	}

	&__item {
		a {
			font-weight: 500;
			color: var(--text-dark-color);
		}
	}

	&__skills {
		margin-block: 20px;
	}

	&__portfolio {
		a {
			font-size: 1.2rem;
		}
	}

	&__navigation {
	}
}

.main-section {
	flex: 1 1 calc(200% / 3);
	background: var(--section-bg-color);

	&__container {
		padding-top: 70px;
		padding-left: 20px;
	}

	&__about {
	}

	&__title {
	
		padding-bottom: 10px;
		width: 100%;
		border-bottom: 3px solid #000000;
		border-radius: 1.5px;
		margin-bottom: 15px;

		&:not(:first-child) {
			margin-top: 30px;
		}
	}

	&__description {
		line-height: 1.5;
		text-align: justify;

		&::first-letter {
			margin-left: 25px;
		}
	}

	&__experience {
		margin-block: 20px;
	}

	&__secondary-title {
		font-size: 1.2rem;
		line-height: 1.2;
		margin-bottom: 5px;
		font-weight: 500;

		&:not(:first-child) {
			margin-top: 15px;
		}
	}

	&__time {
		font-size: 1rem;
		color: #464542;
		font-weight: 500;
		padding-left: 15px;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid var(--text-dark-color);
	}

	&__num-list {
		li {
			list-style-type: decimal;
		}
	}
	
	&__item {
		list-style-position: inside;
		line-height: 1.5;
		font-size: 1rem;
	}

	&__list {
		li {
			list-style-type: disc;
		}
	}

	&__added-skills {
		margin-bottom: 40px;
	}
}

.footer {
	width: 100%;

	&__container {
		@extend %container;
		background: var(--bg-dark-color);
		padding-block: 30px;
	}

	&__text {
		font-size: 1.1rem;
		font-weight: 500;
		text-align: center;
	}
}

.main-title {
	font-size: 2rem;
	font-weight: 700;
}

.section-title {
	font-size: 1.8rem;
	line-height: 1.5;
	font-weight: 500;
	margin-bottom: 10px;
}